body{
    background-color: rgb(180, 200, 238);
}
.container{
    display: flex;
    /* align-items: center ; */
    margin-top: 5px;
    flex-wrap: wrap;
     height: 400px;
    /* justify-content: center; */
    /* border: 3px solid black; */
    border-radius: 30px;
    padding: 9px 10px;
    background-image: url(collegepic.webp );
    background-size:cover;
    background-position: center;
    
    /* background-size: 100% 99%; */
   object-fit: fill;
}
#dp{
    margin-top: 264px;
    margin-left: 25px;
    height: 22vh;
    display: inline;    
   /* border: 3px solid black; */
   padding:6px 6px;

}
#studentPic{
    height: 150px;
   border-radius: 110px;
   margin-left: 25px;
  border:12px solid  rgb(180, 200, 238);
  
}
.container h1{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vw;
    float: right;
    background-color: rgb(74, 49, 55);
    color: white;
    margin-top: 76px;
    border-radius: 20px;
    margin-left: 15px;
    padding: 15px;   
}
.info{
    margin-top: 100px;
    
    
}
.info table th,.info table td{
    /* border:3px solid black; */
    padding: 5px 5px;
    border-radius: 7px;
    font-size: 1.25rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.info th{
    background-color: rgb(15, 15, 55);
    color:white;
}
.info  td{
    background-color: cornflowerblue;
    color:rgb(213, 233, 247);
    text-align: center;
}
.personalInfo{
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
  flex-wrap: wrap;
  padding: 15px 15px;
}
.detail{
    /* border: 3px solid black; */
    text-align: left;
    margin-top: 10px;
    color: rgb(211, 221, 241);
    border-radius: 10px;
    background-color: rgb(15, 15, 55);
    padding-left: 15px;
}
.detail h3{
    /* background-color: rgb(215, 237, 250); */
    color:azure;
    text-align: center;
    /* border: 1px solid ; */
   
}
#scoreCard{
    display: flex;
    justify-content: space-around;
    flex-shrink: 2;
    flex-wrap: wrap;
   
}

#scoreH{
    text-align: center;
    color: azure;
    padding:15px 15px ;
   
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
    
    background-color: rgb(15, 15, 55);
}
#scoreCard th, #scoreCard td{
    
    background-color: rgb(80, 77, 104);
    border-radius:2px;
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding: 12px 10px;
}
#scoreCard th{
    background-color: rgb(54, 54, 87);
}
.headings{
    display: flex;
    justify-content: space-around;
 background-color: rgb(36, 36, 53);

}
.attendance h2{
    text-align: center;
    padding:15px 15px ;
    color: azure;
    background-color:rgb(15, 15, 55) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 12px;
}
.attendance{
   display: block;
}
.attendance table{
    margin: auto;
}
.attendance th,.attendance td{
    border: 2px solid rgb(15, 15, 55);
    font-size: 1.3rem;
    text-align: center;
    color: azure;
    padding: 9px 9px;
    background-color: rgb(54, 54, 87);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.attendance th{
    color: rgb(222, 252, 252);
    text-align: left;
    background-color:rgb(36, 36, 53);
     
}
@media screen and (max-width:900px) {
        .container{
            height:30vh;
           
        }
        #dp{
           position: relative;
             margin-top: 8vh;
             align-self: center;
             
             height: 26vh;
             /* margin-left: auto;   */
             /* border:6px solid white; */
             display: flex;
         }
         .info table th,td{
             font-size: 3vw;
         }
        #studentPic{
         align-self: auto;  
        }
        .container h1{
            height: 1.5rem;
            
        }

}
